<?xml version="1.0"?>

<launch>

    <node pkg="mulit_control" type="team_monitor" name="team_monitor" args="6" output="screen"/>

    <group ns="jackal0">
        <node pkg="mulit_control" type="goal_monitor" name="goal_monitor" args="1" output="screen"/>
    </group>

    <group ns="jackal1">
        <node pkg="mulit_control" type="goal_monitor" name="goal_monitor" args="2" output="screen"/>
    </group>

    <group ns="jackal2">
        <node pkg="mulit_control" type="goal_monitor" name="goal_monitor" args="3" output="screen"/>
    </group>

    <group ns="jackal3">
        <node pkg="mulit_control" type="goal_monitor" name="goal_monitor" args="4" output="screen"/>
    </group>

    <group ns="jackal4">
        <node pkg="mulit_control" type="goal_monitor" name="goal_monitor" args="5" output="screen"/>
    </group>

    <group ns="jackal5">
        <node pkg="mulit_control" type="goal_monitor" name="goal_monitor" args="6" output="screen"/>
    </group>

</launch>  
