<?xml version="1.0"?>

<launch>
<group ns="mbot_1">
    <!-- Debug Info -->
    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
    <arg name="debug_config_parameter" default="false"/>
    <arg name="debug_kinematic_cal" default="false"/>
    <arg name="debug_collision_detection" default="false"/>
    <arg name="config" default="$(find mobile_robot_state_publisher)"/>

    <!--Publish the mobile robot pose -->
    <node name="mobile_robot_state_publisher" pkg="mobile_robot_state_publisher" type="mobile_robot_state_publisher_node" respawn="false" output="screen">
            <rosparam command="load" file="$(arg config)/config/jackal.yaml" />
            <param name="base_frame" value="mbot_1/base_link"/>
    </node>
    
    <rosparam command="load" file="$(find lmpcc)/config/lmpcc_config_parameter.yaml"/>
    <!-- rosparam param="global_path/x">[0, 1, 2, 3, 4, 5]</rosparam -->
    <rosparam param="global_path/x">[0, 6, 10, 15, 20, 25]</rosparam>
    <rosparam param="global_path/y">[0, 0, 0, 0, 0, 0]</rosparam>
    <rosparam param="global_path/theta">[0, 0, 0, 0, 0, 0]</rosparam>

    <rosparam param="robot_id">1</rosparam>

    <node pkg="lmpcc" type="lmpcc_node" name="lmpcc_node" cwd="node" respawn="false" output="screen">
        <remap from="/robot_collision_space" to="/mbot_1/robot_collision_space"/>
    </node>
</group>

<group ns="mbot_2">
    <!-- Debug Info -->
    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
    <arg name="debug_config_parameter" default="false"/>
    <arg name="debug_kinematic_cal" default="false"/>
    <arg name="debug_collision_detection" default="false"/>
    <arg name="config" default="$(find mobile_robot_state_publisher)"/>

    <!--Publish the mobile robot pose -->
    <node name="mobile_robot_state_publisher" pkg="mobile_robot_state_publisher" type="mobile_robot_state_publisher_node" respawn="false" output="screen">
            <rosparam command="load" file="$(arg config)/config/jackal.yaml" />
            <param name="base_frame" value="mbot_2/base_link"/>
    </node>
    
    <rosparam command="load" file="$(find lmpcc)/config/lmpcc_config_parameter.yaml"/>
    <!--rosparam param="global_path/x">[4, 3, 2, 1, 0, -1]</rosparam -->
    <rosparam param="global_path/x">[0, -1, -10, -15, -20, -25]</rosparam>
    <rosparam param="global_path/y">[0, 0, 0, 0, 0, 0]</rosparam>
    <rosparam param="global_path/theta">[3.14, 3.14, 3.14, 3.14, 3.14, 3.14]</rosparam>

    <rosparam param="color/r">0.0</rosparam>
    <rosparam param="color/g">0.8</rosparam>
    <rosparam param="color/b">0.0</rosparam>

    <rosparam param="robot_id">2</rosparam>
    
    <node pkg="lmpcc" type="lmpcc_node" name="lmpcc_node" cwd="node" respawn="false" output="screen">
        <remap from="/robot_collision_space" to="/mbot_2/robot_collision_space"/>
    </node>
</group>

<group ns="mbot_3">
    <!-- Debug Info -->
    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
    <arg name="debug_config_parameter" default="false"/>
    <arg name="debug_kinematic_cal" default="false"/>
    <arg name="debug_collision_detection" default="false"/>
    <arg name="config" default="$(find mobile_robot_state_publisher)"/>

    <!--Publish the mobile robot pose -->
    <node name="mobile_robot_state_publisher" pkg="mobile_robot_state_publisher" type="mobile_robot_state_publisher_node" respawn="false" output="screen">
            <rosparam command="load" file="$(arg config)/config/jackal.yaml" />
            <param name="base_frame" value="mbot_3/base_link"/>
    </node>
    
    <rosparam command="load" file="$(find lmpcc)/config/lmpcc_config_parameter.yaml"/>
    <rosparam param="global_path/x">[3, 3, 3, 3, 3, 3]</rosparam>
    <!-- rosparam param="global_path/y">[-1, 0, 1, 2, 3, 4]</rosparam -->
    <rosparam param="global_path/y">[0, 3, 10, 15, 20, 25]</rosparam>
    <rosparam param="global_path/theta">[1.57, 1.57, 1.57, 1.57, 1.57, 1.57]</rosparam>

    <rosparam param="color/r">0.0</rosparam>
    <rosparam param="color/g">0.0</rosparam>
    <rosparam param="color/b">0.8</rosparam>

    <rosparam param="robot_id">3</rosparam>
        
    <node pkg="lmpcc" type="lmpcc_node" name="lmpcc_node" cwd="node" respawn="false" output="screen">
        <remap from="/robot_collision_space" to="/mbot_3/robot_collision_space"/>
    </node>
</group>

    <node pkg="lmpcc" type="conversion.py" name="conversion" output="screen"/>
    <node pkg="lmpcc" type="conversion_multi.py" name="conversion_multi" output="screen"/>

</launch>  
